html,body{
    margin: 0;
    padding: 0;
    // background: linear-gradient(rgb(209, 132, 132),beige,white);
    a{
        text-decoration:none;
        color: #000;
    }
    
    .my-app-change{
        h1{
            font-size: 2rem;
        }

        p,a{
            font-size: 1.2rem;
            @media (max-width:415px){
                font-size: 1rem;
            }
        }

        label{
            font-size: 1.2rem
        }
        select{
            font-size: 1rem;
        }

        button{
            font-size: 1.5rem;
        }
        
        .modal{
            font-size: 1rem;
        }
    }
}   



