html,body{
    margin: 0;
    padding: 0;
    background-image: url("../image/image-font.jpg");
    a{
        text-decoration:none;
        color: #000;
    }
    
    .my-app-change{
        h1{
            font-size: 2rem;
            color: #fff;
        }

        h2{
            color: #fff;
        }

        p,a{
            font-size: 1.2rem;
            color: #fff;
            @media (max-width:415px){
                font-size: 1rem;
            }
        }

        label{
            font-size: 1.2rem
        }
        select{
            font-size: 1rem;
        }

        button{
            font-size: 1.5rem;
        }
        
        .modal{
            font-size: 1rem;
        }
    }
}   



