$whiteColor: #FFF;
$blackColor:#000;

.footer{
    background-color: #000;
    padding: 15px;
    font-family: Montserrat,sans-serif;
    nav ul{
        display: flex;
        justify-content: space-around;
        
        li{
            color: $whiteColor;
            list-style-type: none;
            font-size: 1.5rem;
            .fa-linkedin{
                color: #fff;
            }
        }
        
    }
}