$whiteColor: #FFF;
$blackColor:#000;
$blackGrey:#3a3a3a;

@keyframes slide {
  from{
    margin-left: -30%;
  }
  to{
    margin-left: 20px;
  }
}

header{
    display: flex;
    justify-content: space-between;
    background-color: $blackGrey;
    align-items: center;
    font-family: Montserrat,sans-serif;
    
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0 10px 20px;
      animation-duration: 3s;
      animation-name:  slide;
      h1{
        color: $whiteColor;
      }
      h2{
        color: $whiteColor;
      }
    }
    .navigation {
      width: 50%;
    nav{
      display: flex;
      justify-content: space-around;    
      font-size: 1.5rem;
      .link{
        color: $whiteColor;
      }
    }
  }
}