.bloc-message {
    position: relative;
    background-color: rgba(125, 130, 195, 0.208);
    margin-top: 90px;
    #message-retour{
        position: absolute;
        left: 40px;
        font-size: 2rem;
    }
    .message-title{
        font-size: 5rem;
    }
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    align-content: center;
    justify-content: center;
}