.page-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 30px;
    label{
        margin-bottom: 10px;
    }
    select,option{
        font-weight:600;
        cursor: pointer;
    }
    select{
        padding: 10px 40px;
        background-color: antiquewhite;
        margin-bottom: 30px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        #flexImage-title{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: transform 2s ease;
            
            img{
                object-fit:contain;
                border-radius: 10px;
                width: 200px;
                height: 200px;
                margin: 10px;
                box-shadow: 5px 5px 5px grey;
            }

            .title-picture,.modal{
                font-size: 1rem ;
            }

            .modal {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 10px;
                padding: 5px;
                top: 20px;
                background-color: #fff; 
                display: none; 
                text-align: center;   
            }

            
            &:hover{
                transform: scale(1.2); 
                .modal{
                    display: block;       
                }
            }
            
        }
        
        
    }   
}


.visible{
    display: block ;
   
}
.hidden{
    display: none;
    
}
.opacity{
    opacity: 0.2;
}