.propos,.parcours{
    display: flex;
    margin: 30px;
    align-items: center;
    p{
        font-family: 'Dancing Script', cursive;
    }
    
    img{
        width: 50%;
        height: 50%;
        border-radius: 20px;
    }
    .presentation{
        margin-left: 30px;
        width: 50%;
        height: 50%;
    }
    .bloc-soc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.parcours{
    flex-direction: row-reverse;
}
