.propos{
    display: flex;
    margin: 30px;
    
    img{
        width: 50%;
        height: 50%;
    }
    .presentation{
        margin-left: 30px;
        width: 50%;
        height: 50%;
    }
}
