#main-page{
    margin-top: 120px;
.propos,.parcours{
    display: flex;
    margin: 30px 30px 190px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width:1290px){
        flex-direction: column;
    }
    p{
        font-family: 'Dancing Script', cursive;
    }
    
    img{
        border-radius: 20px;
    }
    .presentation{
        margin-left: 30px;
        width: 600px;
        height: auto;
    }
    .bloc-soc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
}
.parcours{
    flex-direction: row-reverse;
}
