.page-techno{
    h1{
        text-align: center;
    }
    #sectionTec{
        margin: 30px;
        .flexImage{
            display: flex;
            .flexImage-title{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img{
                object-fit: cover;
                border-radius: 10px;
                height: 100px;
                margin: 10px;
            }
            .newphoto{
                object-fit: cover;
                border-radius: 10px;
                height: 100px;
                margin: 10px;
            }
        }
    }
}